<div style="margin-left:1.5%;margin-right: 1.5%;">
<table class="table table-dark table-striped">
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">ID</th>
          <th scope="col">Price</th>
           <th scope="col">Quantity</th> 

           <th scope="col">Update</th>
           <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products; ">
             
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.ids}} </td>
                <td>{{item.price | currency:'INR':true}} </td>
                <td>{{item.quantity}} </td>
                <td>

                    <a routerLink="/update" style="text-decoration: none; background-color: rgb(30, 66, 211);padding: 5px; border: 2px white solid; color: white;">Update</a>
                  </td>
                  <td><button type="button" class="btn btn-outline-danger" (click)="deleteprd(item.ids)">Delete</button></td>
                
            </tr>
        </tbody>
  </table>
</div>