<div style="margin-left:1.5%;margin-right: 1.5%;">
<table class="table table-hover">
    <thead class="table-dark">
    <tr><th scope="col">Sno</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Mobile</th>
       <th scope="col">Account No</th> 
       <th scope="col">Addhar No</th>
       <th scope="col">Update</th>
       <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of Staffent ;let i=index;">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.state}}</td>
      <td>{{item.mobile}}</td>
      <td>{{item.account}}</td>
      <td>{{item.addhar}}</td>
      <!-- <td><button type="button" class="btn btn-outline-danger">Delete</button></td> -->
      <td>
        <a routerLink="/updates" style="text-decoration: none; background-color: rgb(30, 66, 211);padding: 5px; border: 2px white solid; color: white;">Update</a>
      </td>
      <td><button type="button" class="btn btn-outline-danger" (click)="deleteSTAFF(item.email)">Delete</button></td>
    </tr>
  </tbody>
  </table>
</div>